.banner {
  .heading {
    color: #ffb800;
    text-align: center;
    text-shadow:
      -2px -2px 0px #9f7756,
      0px -2px 0px #9f7756,
      2px -2px 0px #9f7756,
      2px 0px 0px #9f7756,
      2px 2px 0px #9f7756,
      0px 2px 0px #9f7756,
      -2px 2px 0px #9f7756;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .light {
    width: 1088px;
    animation: animateWidth 1s linear;
  }
}

@keyframes animateWidth {
  from {
    width: 0;
  }
  to {
    width: 1088px;
  }
}
