.nft_meme {
  .item {
    h2 {
      color: #f4f0eb;
      text-shadow:
        -1px -1px 0px #9f7756,
        0px -1px 0px #9f7756,
        1px -1px 0px #9f7756,
        1px 0px 0px #9f7756,
        1px 1px 0px #9f7756,
        0px 1px 0px #9f7756,
        -1px 1px 0px #9f7756,
        -1px 0px 0px #9f7756;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 100% */
    }
  }
}

.dance {
  .pepe_dancer {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
