.partners {
  .building {
    color: #f9d286;
    text-align: center;
    text-shadow:
      1px 0px 0px #925908,
      1px 1px 0px #925908,
      0px 1px 0px #925908,
      -1px 1px 0px #925908,
      -1px 0px 0px #925908,
      -1px 3px 0px #915608,
      0px 3px 0px #915608,
      1px 3px 0px #915608;
    font-weight: 700;
    line-height: 24px; /* 100% */
    letter-spacing: 1px;
  }
}
